/* Reset default margin, padding, and font for the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Styling for the header section */
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

/* Styling for the images */
/* add rounded borders and shadow */
img {
    border-radius: 5px; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Styling for sections */
section {
    padding: 20px 0;
    background-color: #fff;
}

/* Styling to center text */
.text-center {
    text-align: center;
}

/* Styling for the main content container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

/* Styling for the skills list */
.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Styling for the skills list in dark mode */
.skills-list.dark-mode {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3f3e3e;
}

.skills-list li {
    color: black;
    border: 1px solid #0077B5;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Styling for list items in dark mode */
.skills-list.dark-mode li {
    color: white;
    border: 1px solid #0077B5;
    background: #3f3e3e;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Styling for the dark mode button container */
.dark-mode-button-container {
    position: fixed;
    bottom: 20px;
    left: 90%;
    transform: translateX(-50%);
    text-align: center;
}

/* Style for the dark mode button */
.dark-mode-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style for the dark mode button in dark mode */
.dark-mode-button.dark-mode {
    background-color: #3f3e3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Add styles for dark mode */
.dark-mode {
    background-color: #333;
    color: #333;
}

/* Styles for elements inside the main container in dark mode */
.main-container.dark-mode {
    background-color: #3f3e3e;
    color: #fff;
}

/* Style for links in dark mode */
.main-container.dark-mode a {
    color: #bb86fc; /* Change link color in dark mode */
}
